.DS_Store
**/__pycache__
.ipynb_checkpoints
.vscode

# testing folders
/az*
/output*
/data

# temporary
# **.ipynb
kddcup.csv
metrics/backup
chicago_taxi_trips/
test.py
metrics_output
get_tab_metrics_bck.py
great_llm/data/
great_llm/outputs_2/
myenv/
back_outputs/
llm_out_25aug/
workspace/