.DS_Store
**/__pycache__
.ipynb_checkpoints
.vscode

# testing folders
/az*
/output*
/data

# temporary
# **.ipynb
metrics/backup
chicago_taxi_trips/
test.py
metrics_output
get_tab_metrics_bck.py
great_llm/data/
great_llm/outputs_2/
myenv/
back_outputs/
llm_out_25aug/
workspace/
tutorial8_hyperparameter_optimization.ipynb
notebooks/Untitled.ipynb
final_outs/
met_out/
hpo_out/
hpo_trial/
*.json
run_hyperimpute_bck.py
seq_metrics/
optuna_generic.py
*.yml
dganenv/
deprecated_code/
local_final_outputs/
all_sample_datasets/
30-4thDec/
metrics_out/
notebooks/final_ana/
